{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>
        Creating New Product
    </h2>
</div>

<form method = 'POST'>
    {{hello.csrf_token}}
    <div class = 'form-group'>
        <fieldset>
            {{ hello.product_name.label }}
            {{ hello.product_name(class='form-control', placeholder='Product Name') }}
        </fieldset>
        <fieldset>
            {{ hello.price.label }}
            {{ hello.price(class='form-control', placeholder='Price') }}
        </fieldset>
        <fieldset>
            {{ hello.image.label }}
            {{ hello.image(class='form-control', placeholder='Image URL') }}
        </fieldset>
        {{ hello.submit(class='btn btn-primary') }}
    </div>
</form>
{% endblock content %}

